<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <meta charset="utf-8">
  <!--************************************************ DEBUT BALISAGE STYLE ****************************************************-->
  <style>
    body {
      padding: 5%;
      font-family: Lato, sans-serif;
    }

    select {
      width: 50%;
    }


    file-upload {
      background-color: #ffffff;
      width: 600px;
      margin: 0 auto;
      padding: 20px;
    }


    .file-upload-content {
      display: none;
    }

    .file-upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }

    .image-upload-wrap {
      margin-top: 20px;
      border: 1px solid #1b2f68;
      position: relative;
    }


    .image-title-wrap {
      padding: 0 15px 15px 15px;
      color: #222;
    }


    .file-upload-image {
      max-height: 200px;
      max-width: 200px;
      margin: auto;
      padding: 20px;
    }

    .horaire_int {
      display: flex;
      flex-wrap: wrap;
    }

    .detail_panne {
      display: flex;
      flex-wrap: wrap;
    }

    .time {
      margin-right: 20px;
    }

    .liste {
      margin-right: 100px;
      margin-left: 20px;
    }
  </style>

  <!--************************************************ FIN BALISAGE STYLE ****************************************************-->
</head>

<!--************************************************ DEBUT BALISAGE BODY ****************************************************-->

<body>
 
  <h1>MAINTENANCE CORRECTIVE</h1>

  <h3>Maintenance des Equipements Telecom</h3>

  <p><i>Ce compte rendu à été rédigé pour l'intervention n°<strong>{{ticket.id}}</strong> de l'entreprise Phone Com</i></p>


<form action="{{ url_for('admin.valider',id=ticket.id)}}" method="POST">

  <button type="submit" class="btn btn-info">Valider le compte rendu</button>

</form>

  <hr></br>

  <h4>Technicien(s) Affecté(s)</h4>
  <hr>


  <div class="row">


    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <p class="card-title">Nom</p>
        <input type="name" id="" value={{nom1}} />
        <p class="card-title mb-2 ">Specialisation</p>
        <input type="Specialisation" id="" value={{specialisation1}} />
        <br>
        <p class="card-title mb-2 ">Attaché à :</p>
        <input type="Specialisation" id="" value={{entreprise1}} name="entreprise1" />
        <br>
        <p class="card-title mb-2 ">Nombre d'intervention :</p>
        <input type="Specialisation" id="" value={{nb_intervention1}} name="nb_intervention1" />
        <br>
        <a href="#" class="card-link">Telephone</a></br>
        <input type="telephone" id="" value={{telephone1}} /></p>
        <a href="#" class="card-link">mail</a></br>
        <input type="mail" id="" value={{mail1}} /></p>
      </div>
    </div>

<div class="row" style="width: 12rem;"></div>

    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <p class="card-title">Nom</p>
        <input type="name" id="" value={{nom2}} />
        <p class="card-title mb-2 ">Specialisation</p>
        <input type="Specialisation" id="" value={{specialisation2}} />

        <br>
        <p class="card-title mb-2 ">Attaché à :</p>
        <input type="Specialisation" id="" value={{entreprise2}} name="entreprise2" />
        <br>
        <p class="card-title mb-2 ">Nombre d'intervention :</p>
        <input type="Specialisation" id="" value={{nb_intervention2}} name="nb_intervention2" />
        <br>

        <a href="#" class="card-link">Telephone</a></br>
        <input type="telephone" id="" value={{telephone2}} /></p>
        <a href="#" class="card-link">mail</a></br>
        <input type="mail" id="" value={{mail2}} /></p>
      </div>

    </div>

    <div class="row" style="width: 12rem;"></div>
    <div class="card" style="width: 18rem;">


      <div class="card-body">
        <p class="card-title">Nom</p>
        <input type="name" id="" value={{nom3}} />
        <p class="card-title mb-2 ">Specialisation</p>
        <input type="Specialisation" id="" value={{specialisation3}} />
        <br>
        <p class="card-title mb-2 ">Attaché à :</p>
        <input type="entreprise" id="" value={{entreprise3}} name="entreprise3" />
        <br>
        <p class="card-title mb-2 ">Nombre d'intervention :</p>
        <input type="intervention" id="" value={{nb_intervention3}} name="nb_intervention3" />
        <br>
        <a href="#" class="card-link">Telephone</a></br>
        <input type="telephone" id="" value={{telephone3}} /></p>
        <a href="#" class="card-link">mail</a></br>
        <input type="mail" id="" value={{mail3}} /></p>
      </div>

    </div>
  </div>

  </br>
  </br>


  <h4>Date et Horaires de l'Intervention</h4>
  <hr>

  <div class="inputs date">
    <label for="">Date de l'Intervention</label><br>
    <input type="date" id="" />
  </div></br>

  <div class="horaire_int">

    <div class="inputs time">
      <label for="">T0</label><br>
      <input id="" value={{t0}} />
    </div>

    <div class="inputs time">
      <label for="">T1</label><br>
      <input id="" value={{t1}} />
    </div>


    <div class="inputs time">
      <label for="">T2</label><br>
      <input type="time" value={{t2}} id="" />
    </div>


    <div class="inputs time">
      <label for="">Tfin</label><br>
      <input type="time" value={{tfin}} id="" />
    </div>

  </div>

  </br></br>

  <h4>Détails de la Panne</h4>
  <hr>

  <div class=" detail_panne">


    <div>

      <label>Nature de l'Incident</label><br>
      <input type="text" placeholder="Nature de l'Incident" value={{nature}}>

    </div>

    <div class="row" style="width: 12rem;"></div>
    </div>


    <div >
      <label>Technologie Concernée</label><br>
      <input type="text" placeholder="Technologie Concernée" value="{{techno}}">
    </div>

    <div class="row" style="width: 12rem;"></div>
    </div>

    <div>
      <label>Constructeur Concerné</label><br>
      <input type="text" placeholder="" value={{constructeur}}>
    </div>

    <div class="row" style="width: 12rem;"></div>
  


    <div>
      <label>Type d’équipement concerné</label><br>
      <input type="text" placeholder="" value={{equipement}}>

    </div>

  </div>
  <br>

  <label>Raison de la panne</label><br>
  <p> {{raison}} </p>
  <br>
  <br>
  <label> Actions effectuées pour y remédier et pièces détachées utilisées </label><br>
  <p> {{solution}} </p>

  </br>
  </br>
  <h4>Photo</h4>
  <hr>




  <h4>Relevé GPS  </h4>
  <br>
  <h5> longitude: {{ticket.lng}} </h5>
  <br>
  <h5> lattitude: {{ticket.la}} </h5>

  <div>

    {{ m | safe }}


  </div>
  
  <H4>
    Photographie
  </H4>
  <img src="{{ url_for('static', filename='img/cr.jpg') }}">

  </div>
  </div>

</body>

<!--************************************************ FIN BALISAGE BODY ****************************************************-->

</html>


<!--************************************************ DEBUT BALISAGE SCRIPT ****************************************************-->
<script>

  function readURL(input) {
    if (input.files && input.files[0]) {

      var reader = new FileReader();

      reader.onload = function (e) {
        $('.image-upload-wrap').hide();

        $('.file-upload-image').attr('src', e.target.result);
        $('.file-upload-content').show();

        $('.image-title').html(input.files[0].name);
      };

      reader.readAsDataURL(input.files[0]);

    } else {
      removeUpload();
    }
  }

  function removeUpload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
  }
  $('.image-upload-wrap').bind('dragover', function () {
    $('.image-upload-wrap').addClass('image-dropping');
  });
  $('.image-upload-wrap').bind('dragleave', function () {
    $('.image-upload-wrap').removeClass('image-dropping');
  });


</script>