<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='dashboard/assets/vendor/bootstrap/css/bootstrap.min.css')}}">
    <link href="{{ url_for('static', filename='dashboard/assets/vendor/fonts/circular-std/style.css')}}"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/assets/libs/css/style.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='dashboard/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='dashboard/assets/vendor/charts/chartist-bundle/chartist.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='dashboard/assets/vendor/charts/morris-bundle/morris.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='dashboard/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/assets/vendor/charts/c3charts/c3.css')}}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='dashboard/assets/vendor/fonts/flag-icon-css/flag-icon.min.css')}}">
    <title>PinAPP</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">PinAPP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                    class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>


                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{ url_for('static', filename='dashboard/assets/images/avatar-2.jpg')}}"
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">
                                                            PinGuard</span>a pris en charge votre ticket n°4.
                                                        <div class="notification-date">il y'a deux minutes</div>
                                                    </div>
                                                </div>
                                            </a>


                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{ url_for('static', filename='dashboard/assets/images/avatar-3.jpg')}}"
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name"> Phonecom</span> a
                                                        validé le ticket n°6.

                                                        <div class="notification-date">il y'a 2 heures </div>
                                                    </div>
                                                </div>
                                            </a>



                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{ url_for('static', filename='dashboard/assets/images/avatar-4.jpg')}}"
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Pinguard</span>
                                                        a gelé le ticket n°5
                                                        <div class="notification-date"> il y'a 10 heures</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            src="{{ url_for('static', filename='dashboard/assets/images/avatar-5.jpg')}}"
                                                            alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">

                                                            PinGuard </span> à terminé son intervention pour le ticket
                                                        n°6
                                                        <div class="notification-date">il y'a 3 heures</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">PINGUARD</a></div>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="{{ url_for('static', filename='dashboard/assets/images/avatar-1.jpg')}}" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i
                                        class="fas fa-power-off mr-2"></i>Logout</a>


                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->






        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">

                                <a class="nav-link " href="#"><i class="fas fa-fw fa-chart-pie"></i>Dashboard <span
                                        class="badge badge-success">6</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('admin.list_tickets') }}"
                                    aria-expanded="false">

                                    <i class="fa fa-fw fa-rocket"> </i>Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-fw fa-wpforms"></i>Planning</a>
                            </li>
                            
                            
                         



                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin.map_ticket')}}">
                                    <i class="fas fa-fw fa-map-marker-alt"></i>Maps
                                </a>
                            </li>



                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>









        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Tickets <a href="{{ url_for('admin.add_ticket') }}"
                                        class="btn btn-default btn-lg">
                                        <i class="fa fa-plus"></i> </a></h2>



                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#"
                                                    class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard
                                                Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- sales  -->
                        <!-- ============================================================== -->


                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Tickets</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{ nb_ticket }}</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i
                                                class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5.86%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end sales  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- new customer  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Interventions en cours</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{nb_ticket_cours}}</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i
                                                class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end new customer  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- visitor  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Tickets Gelé</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{nb_ticket_gelé}}</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i
                                                class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end visitor  -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- total orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Interventions terminé</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{nb_ticket_terminé}}</h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                        <span
                                            class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i
                                                class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end total orders  -->
                        <!-- ============================================================== -->
                    </div>



                    <div class="row">

                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- customer acquistion  -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- end customer acquistion  -->
                        <!-- ============================================================== -->
                    </div>





                    <div class="row">
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->

                        <!-- recent orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Tickets</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">

                                                    <th width="15%"> Titre </th>
                                                    <th width="15%"> Nature </th>
                                                    <th width="15%"> Categorie </th>

                                                    <th width="15%"> Equipement </th>
                                                    <th width="15%"> Adresse </th>
                                                    <th width="15%"> Site </th>
                                                    <th width="15%"> Description </th>
                                                    <th width="15%"> Etat </th>
                                                    <th width="15%"> Modifier </th>
                                                    <th width="15%"> Sup </th>

                                                    <th width="15%"> Compte rendu </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for ticket in tickets %}
                                                <tr>
                                                    <td> {{ ticket.titre }} </td>
                                                    <td> {{ ticket.nature }} </td>
                                                    <td> {{ ticket.categorie }} </td>

                                                    <td> {{ ticket.equipement }} </td>
                                                    <td> {{ ticket.adresse }} </td>
                                                    <td> {{ ticket.site }} </td>
                                                    <td> {{ ticket.description }} </td>


                                                    {% if ticket.statut == 'Non traité' %}
                                                    <td>
                                                        <span class="badge-dot badge-danger "
                                                            style="color: red;"></span>{{ ticket.statut }}
                                                    </td>
                                                    {% endif %}

                                                    {% if ticket.statut == 'Pris en charge' %}
                                                    <td>
                                                        <span class="badge-dot badge-secondary"></span>{{ ticket.statut
                                                        }}
                                                    </td>
                                                    {% endif %}

                                                    {% if ticket.statut == 'Intervention en cours' %}
                                                    <td>
                                                        <span class="badge-dot badge-warning"></span>{{ ticket.statut
                                                        }}
                                                    </td>
                                                    {% endif %}

                                                    {% if ticket.statut == 'Gelé' %}
                                                    <td>
                                                        <span class="badge-dot badge-dark"></span>{{ ticket.statut
                                                        }}
                                                    </td>
                                                    {% endif %}

                                                    {% if ticket.statut == 'Terminé'%}
                                                    <td>
                                                        <span class="badge-dot badge-success"></span>{{ ticket.statut
                                                        }}
                                                    </td>
                                                    {% endif %}

                                                    {% if ticket.statut == 'Validé'%}
                                                    <td>
                                                        <span class="badge-dot badge-info mr-1 "></span>{{ ticket.statut
                                                        }}
                                                    </td>
                                                    {% endif %}

                                                    <td>
                                                        <a href="{{ url_for('admin.edit_ticket', id=ticket.id) }}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{{ url_for('admin.delete_ticket', id=ticket.id) }}">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                    
                                                    
                                                    {% if (ticket.statut == 'Terminé') & (ticket.id_cr is not None)%}
                                                    <td>

                                                        <a href="{{ url_for('admin.cr_display', id=ticket.id_cr) }}">
                                                            <i class="fa fa-file"></i>
                                                        </a>
                                                    </td>
                                                    {% endif %}


                                                    {% if (ticket.statut == 'Validé') & (ticket.id_cr is not None)%}
                                                    <td>
                                                        <a href="{{ url_for('admin.cr_display', id=ticket.id_cr) }}">
                                                            <i class="fa fa-file"></i>
                                                        </a>
                                                    </td>
                                                    {% endif %}

                                                  

                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->



                    </div>




                    <!-- ============================================================== -->
                    <!-- end sales traffice country source  -->
                    <!-- ============================================================== -->
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                        href="https://colorlib.com/wp/">Colorlib</a>.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/jquery/jquery-3.3.1.min.js')}}"></script>
    <!-- bootstap bundle js -->
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <!-- slimscroll js -->
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/slimscroll/jquery.slimscroll.js')}}"></script>
    <!-- main js -->
    <script src="{{ url_for('static', filename='dashboard/assets/libs/js/main-js.js')}}"></script>
    <!-- chart chartist js -->
    <script
        src="{{ url_for('static', filename='dashboard/assets/vendor/charts/chartist-bundle/chartist.min.js')}}"></script>
    <!-- sparkline js -->
    <script
        src="{{ url_for('static', filename='dashboard/assets/vendor/charts/sparkline/jquery.sparkline.js')}}"></script>
    <!-- morris js -->
    <script
        src="{{ url_for('static', filename='dashboard/assets/vendor/charts/morris-bundle/raphael.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/charts/morris-bundle/morris.js')}}"></script>
    <!-- chart c3 js -->
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/charts/c3charts/c3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/charts/c3charts/d3-5.4.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/vendor/charts/c3charts/C3chartjs.js')}}"></script>
    <script src="{{ url_for('static', filename='dashboard/assets/libs/js/dashboard-ecommerce.js')}}"></script>
</body>

</html>